@page
@model DailyReport.WebLayer.Pages.Person.CreatePersonModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Create a new person</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Birthday</label>
        <div>
            <input asp-for="Birthday" />
            <span asp-validation-for="Birthday"></span>
        </div>
    </div>
    <div>
        <label>First Name</label>
        <div>
            <input asp-for="FirstName" required/>
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div>
        <label>Middle Name</label>
        <div>
            <input asp-for="MiddleName" required/>
            <span asp-validation-for="MiddleName"></span>
        </div>
    </div>
    <div>
        <label>Last Name</label>
        <div>
            <input asp-for="LastName" required/>
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div>
        <label>Workplace</label>
        <div>
            <select asp-for="WorkplaceId" asp-items="Model.Options">
            </select>
            <span asp-validation-for="WorkplaceId"></span>
        </div>
     </div>
    <div>
        <label>Position</label>
        <div>
            <select asp-for="PositionId" asp-items="Model.Positions">
            </select>
            <span asp-validation-for="PositionId"></span>
        </div>
    </div>
    <div>
        <label>Profession</label>
        <div>
            <select asp-for="ProfessionId" asp-items="Model.Professions">
            </select>
            <span asp-validation-for="ProfessionId"></span>
        </div>
    </div>
    <div>
        <label>Phone number</label>
        <div>
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <div>
        <input type="submit" value=Create class="btn btn-info btn-md" />
        &nbsp;
        <input asp-page-handler="Cancel" type="submit" value=Refuse class="btn btn-info btn-md" />
    </div>
</form>
<div>
    <a asp-page="Index">Back</a>
</div>
