@page
@model DailyReport.WebLayer.Pages.Person.DeletePersonModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>PageId</label>
        <div>
            <input asp-for="PageId" />
            <span asp-validation-for="PageId"></span>
        </div>
    </div>
    <div>
        <label>Birthday</label>
        <div>
            <input asp-for="Birthday" />
            <span asp-validation-for="Birthday"></span>
        </div>
    </div>
    <div>
        <label>First Name</label>
        <div>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div>
        <label>Middle Name</label>
        <div>
            <input asp-for="MiddleName" />
            <span asp-validation-for="MiddleName"></span>
        </div>
    </div>
    <div>
        <label>Last Name</label>
        <div>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    @* <div>
        <label>Work Location</label>
        <div>
            <input asp-for="WorkLocation" />
            <span asp-validation-for="WorkLocation"></span>
        </div>
    </div> *@
    @* <div>
        <label>Position work location</label>
        <div>
            <input asp-for="Position" />
            <span asp-validation-for="Position"></span>
        </div>
    </div> *@
    <div>
        <label>Phone number</label>
        <div>
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <div>
        <input type="submit" style="background-color:red" value="Delete" class="btn btn-info btn-md" />
        &nbsp;
        <input asp-page-handler="Cancel" type="submit" style="background-color:green" value="Refuse" class="btn btn-info btn-md" />
    </div>
</form>
<div>
    <a asp-page="Index">Back</a>
</div>

