@page
@model DailyReport.WebLayer.Pages.Plan.CreatePlanModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-page="CreatePlan" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <div class="form-group">
            <input type="number" asp-for="Id" class="form-control" hidden/>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="StartTime" class="control-label">Start Time</label>
            <input type="time" asp-for="StartTime" class="form-control" />
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="FinishTime" class="control-label">Finish Time</label>
            <input type="time" asp-for="FinishTime" class="form-control" />
        </div>
    </div>
    <div>
        <label>Person</label>
        <div>
            <select asp-for="PersonId" asp-items="Model?.Persons?.OrderBy(i => i.Text)">
            </select>
            <span asp-validation-for="PersonId"></span>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="Day" class="control-label">Plan day</label>
            <input type="date" asp-for="Day" class="form-control"  disabled/>
        </div>
    </div>
    <div class="main" style="display:flex">
        <input type="submit" value=Create class="btn btn-info btn-md" />
        &nbsp;&nbsp;
        <input asp-page-handler="Cancel" type="submit" value=Refuse class="btn btn-info btn-md" />
    </div>
</form>

