@page
@model DailyReport.WebLayer.Pages.Plan.DeletePlanModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Start Time</label>
        <div>
            <input asp-for="StartTime" />
            <span asp-validation-for="StartTime"></span>
        </div>
    </div>
    <div>
        <label>Finish Time</label>
        <div>
            <input asp-for="FinishTime" />
            <span asp-validation-for="FinishTime"></span>
        </div>
    </div>
    <div>
        <label>Interval Time</label>
        <div>
            <input asp-for="IntervalTime" />
            <span asp-validation-for="IntervalTime"></span>
        </div>
    </div>
    <div>
        <input type="submit" style="background-color:red"value="Delete" class="btn btn-info btn-md" />
        &nbsp;
        <input asp-page-handler="Cancel" type="submit" style="background-color:green"value="Refuse" class="btn btn-info btn-md" />
    </div>
</form>
<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
