@page
@model DailyReport.WebLayer.Pages.Plan.DetailsPlanModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table">
    <thead>
        <tr>
            <th>Lastname</th>
            <th>*</th>
            <th>Time</th>
            <th>*</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlanLastnames)
        {
            <tr>
                <td>@item.Lastname</td>
                <td>*</td>
                <td>@item.DateTime</td>
                <td>*</td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-page="Index">Back</a>
</div>
