@page
@model DailyReport.WebLayer.Pages.Plan.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a asp-area="" asp-page="/PlanDay/CreatePlanDay">Create plan day</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Plan day</th>
            <th>*</th>
            <th>Delete Plan day</th>
            <th>*</th>
            <th>Details plan</th>
            <th>*</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PlanDayDTOs is not null)
        {
            @foreach (var item in Model.PlanDayDTOs)
            {
                <tr>
                    <td>@item.Day.ToLongDateString()</td>
                    <td>*</td>
                    <td>
                        <form method="post">
                            <a asp-page="/PlanDay/DeletePlanDay" asp-route-id="@item.Id">Delete plan day</a>
                        </form>
                    </td>
                    <td>*</td>
                    <td>
                        <form method="post">
                            <a asp-page="DetailsPlan" asp-route-id="@item.Id">Details plan</a>
                        </form>
                    </td>
                    <td>*</td>
                </tr>
            }
        }
    </tbody>
</table>


<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
