@page
@model DailyReport.WebLayer.Pages.Report.DeleteReportModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-page="DeleteReport" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <div>
            <input asp-for="Id" hidden />
            <span asp-validation-for="Id"></span>
        </div>
    </div>
    <div>
        <div>
            <input asp-for="ReportDayId" hidden/>
            <span asp-validation-for="ReportDayId"></span>
        </div>
    </div>
    <div>
        <label>@Model.StartTime</label>
        <div>
            <input asp-for="StartTime" hidden />
            <span asp-validation-for="StartTime"></span>
        </div>
    </div>
    <div>
        <label>@Model.FinishTime</label>
        <div>
            <input asp-for="FinishTime" hidden/>
            <span asp-validation-for="FinishTime"></span>
        </div>
    </div>
    <div>
        <label>@Model.IntervalTime</label>
        <div>
            <input asp-for="IntervalTime" hidden/>
            <span asp-validation-for="IntervalTime"></span>
        </div>
    </div>
    <div>
        <input type="submit" style="background-color:red" value="Delete" class="btn btn-info btn-md" />
        &nbsp;
        <input asp-page-handler="Cancel" type="submit" style="background-color:green" value="Refuse" class="btn btn-info btn-md" />
    </div>
</form>

