@page
@model DailyReport.WebLayer.Pages.PlanDay.DeletePlanDayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <div>
            <input asp-for="Id" hidden/>
            <span asp-validation-for="Id"></span>
        </div>
    </div>
    <div>
        <label>Plan Day</label>
        <div>
            <input asp-for="Day" disabled />
            <span asp-validation-for="Day"></span>
        </div>
    </div>
    <div>
        <div>
            <input asp-for="UserName" hidden/>
            <span asp-validation-for="UserName"></span>
        </div>
    </div>
    <div>
        <input type="submit" style="background-color:red" value="Delete" class="btn btn-info btn-md" />
        &nbsp;
        <input asp-page-handler="Cancel" type="submit" style="background-color:green" value="Refuse" class="btn btn-info btn-md" />
    </div>
</form>
<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
