@page
@model DailyReport.WebLayer.Pages.PlanDate.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a asp-area="" asp-page="/PlanDate/CreatePlanDate">Create plan day</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Plan day</th>
            <th>*</th>
            <th>Edit"</th>
            <th>*</th>
            <th>Delete</th>
            <th>*</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlanDateDTOs)
        {
            <tr>
                <td>@item.PlanDay</td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="EditPlanDate" asp-route-id="@item.Id">Edit</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="DeletePlanDate" asp-route-id="@item.Id">Delete</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="DetailsPlanDate" asp-route-id="@item.Id">Details</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
